*.DS_Store
.DS_Store

.Trashes
DerivedData/
build/
xcuserdata/

*.pbxuser

*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout

*.xcuserstate
*.xcworkspace
project.xcworkspace/



*.ipa
*.dSYM.zip
*.dSYM

Pods

#find . -name .DS_Store -print0 | xargs -0 git rm -f --ignore-unmatch
